.portfolio {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
    background-color: rgb(214, 236, 251);
  }
  
 
  .portfolio-title {
    font-size: 50px;
    color: #061d5e;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    

  }
  
  
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    justify-items: center;
  }
  

  .portfolio-item {
    width: 100%;
    max-width: 300px;
    background-color:rgb(205, 223, 248);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .project-header {
    margin-bottom: 15px;
  }
  
  .project-header h3 {
    font-size: 24px;
    color: #061d5e;
  }
  
  /* PortfolioSection.css */

/* Image Styling */
.project-header img {
    width: 100%; /* Automatically adjust the width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 3px; /* Optional: For rounded corners */
    max-height: 400px; /* Limit the height to 300px */
    object-fit: cover; /* Ensure the image covers the area without distorting */
  }
  
  .project-header p {
    font-size: 14px;
    color: black;
  }
  
  .project-header button {
    background-color: #061d5e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .project-header button:hover {
    background-color: rgb(113, 189, 239);
  }
 
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .portfolio-items {
      grid-template-columns: 1fr; 
    }
  
    .project-details {
      flex-direction: column;
      align-items: center;
    }
  
    .project-details .left, .project-details .right {
      width: 100%;
    }
  }
  
  .line{
    border: none;
    border-top: 3px solid #061d5e ;
    margin-top: 0px;
    width: 100%; 
}
