
.service-section {
    padding: 10px 80px;
    background-color:  rgb(214, 236, 251);
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

  }
  

  .section-title {
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #03186e; 
    
  }
  
 
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
 
  .service-card {
    background-color: white;
    color: #0a1a46;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
 
  .service-icon {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #03186e;
  }
  
  
  .service-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    
  }
  
  
  .service-description {
    font-size: 1em;
    line-height: 1.5;
  }
  
  /* Media Query for Mobile Responsiveness */
  @media (max-width: 768px) {
    .section-title {
      font-size: 2em;
      margin-bottom: 30px;
    }
  
    
    .service-grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
   
    .service-card {
      padding: 5px;
    }
  
   
    .service-icon {
      font-size: 3em; 
    }
  
    
    .service-title {
      font-size: 1.3em;
    }
  
    .service-description {
      font-size: 0.9em;
    }
  }
  
  .line{
    border: none;
    border-top: 3px solid #061d5e;
    margin-top: 0px;
    width: 100%; 
}
